.weather {
  @include ul-clear;
  display: flex;
  justify-content: flex-start;

  &__item {
    //flex: 1 1 auto;
    width: 20%;
    padding: 3% 2%;
    margin-right: 2%;
    box-sizing: border-box;
    text-align: left;
    background-color: rgba(#000, 0.7);
  }

  &__date {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 400;
  }

  &__img {
    text-align: left;
    margin-bottom: 40px;
  }

  &__temp {
    font-size: 50px;
    margin-bottom: 20px;
  }

  &__desc {
    font-size: 30px;
  }

}